# rm -r .venv/ pyproject.toml .python-version uv.lock
# uv init
# uv add -r requirements.txt
#
# OLD:
# pip3 install -r requirements.txt

#pyqt5
pyqt6
# This seems to mostly work except with pyqtgraph under uv.
# In the past, there was a bug that caused a gui program to hang on final
# but his seems to be fixed now
PySide6

pyqtgraph

tkcalendar
matplotlib
#basemap               # We don't use this anymore so ignore it
pyserial
pyautogui

pyinstaller

proj
cartopy
shapely
scipy

# For windows
#pywin32
